/* Reset & General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: white;
}

/* Stats Cards */
.stats-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    margin-bottom: 48px;
    margin-top: 48px;
}

.stat-card {
    display: flex;
    align-items: center;
    gap: 16px;
}

.stat-icon img {
    width: 60px;
    height: 60px;
}

.stat-info {
    flex: 1;
}

.stat-label {
    color: #6b7280;
    font-size: 14px;
    margin-bottom: 4px;
}

.stat-number {
    font-size: 24px;
    font-weight: 600;
    color: #111827;
}

/* Table */
.user-table {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.user-table th {
    padding: 10px;
    text-align: center;
    background-color: white;
    color: #A0AEC0;
    font-weight: 200;
    font-size: 0.850rem;
    border-bottom: 1px solid #E2E8F0;
    border-top: 1px solid #E2E8F0;
}


.user-table th:first-child {
    text-align: center;
}

.user-table th:last-child {
    text-align: center;
}

.user-table td {
    padding: 18px;
    color: black;
    font-size: 0.900rem;
    font-weight: 500;
}

.user-table td:first-child {
    text-align: center;
}

/* Action Icons */
.action-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.action-icons i {
    cursor: pointer;
    font-size: 0.900rem;
}

.action-icons i.fa-edit {
    font-size: 1.25rem;
    color: #286DE1;
}

.action-icons i.fa-trash {
    font-size: 1.25rem;
    color: #EF4444;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 24px;
    gap: 4px;
}

.pagination button {
    padding: 8px 12px;
    border: 1px solid #e5e7eb;
    background: white;
    border-radius: 6px;
    cursor: pointer;
    color: #6b7280;
    min-width: 36px;
    font-size: 14px;
}

.pagination button.active {
    background: #2563eb;
    color: white;
    border-color: #2563eb;
}

.pagination button:hover:not(.active) {
    background: #f9fafb;
}

@media (max-width: 1440px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
}
