* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: white;
}

.content {
    margin-top: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.user-table {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.user-table th {
    padding: 10px;
    text-align: center;
    background-color: white;
    color: #A0AEC0;
    font-weight: 200;
    font-size: 0.850rem;
    border-bottom: 1px solid #E2E8F0;
    border-top: 1px solid #E2E8F0;;
}

.user-table th:first-child {
    text-align: center;
}

.user-table th:last-child {
    text-align: center;
}

.user-table td {
    padding: 18px;
    color: black;
    font-size: 0.900rem;
    font-weight: 500;
}

.user-table td:first-child {
    text-align: center;
}

.action-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.action-icons i {
    cursor: pointer;
    font-size: 0.900rem;
}

.action-icons i.fa-edit {
    font-size: 1.25rem;
    color: #286DE1;
}

.action-icons i.fa-trash {
    font-size: 1.25rem;
    color: #EF4444;
}

.pagination {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 1rem;
    justify-content: flex-end;
    border-top: 1px solid #E2E8F0;
}

.pagination button {
    min-width: 32px;
    height: 32px;
    border: 1px solid #E2E8F0;
    background: white;
    cursor: pointer;
    border-radius: 0.25rem;
    color: #64748B;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination button.active {
    background-color: #286DE1;
    color: white;
    border-color: #286DE1;
}

.pagination button:hover:not(.active) {
    background-color: #F8FAFC;
}

.pagination .prev-btn,
.pagination .next-btn {
    color: #286DE1;
}

@media (max-width: 1440px) {
    .container {
      max-height: 1095px; 
      margin: 0 auto;
    }
}